{% extends "base_index.html" %}

{% block body %}
    <!-- Content -->
		<br>
		<div class="container">
			<div class="panel panel-default">
  			<div class="panel-body">
					<h1>GEIMA</h1>
					<br>
					  <ul>
					    <p>GEIMA is a newly developed interactive web server for query the Gene expression profile of NASH,Liver cancer,or other disease database from the NCBI.</p>
							<p>The raw data of GEIMA is downloaded from NCBI, and then are computed by a standard pipeline.</p>
							<p>This tool is developed by Yue Yao from IMA Biosys partform.</p>
					  </ul>
					<br>
					<h3>Contact us</h3>
					  <ul>
					    <p>If there are any questions about GEIMA, please contact : <a href="mailto:yueyao1989@whu.edu.cn">yueyao1989@whu.edu.cn</a></p>
					  </ul>
					<br>
					<h3>Acknowledgement</h3>
					  <ul>
					    <p>Nothing.</p>
					    <p>Nothing</p>
					  </ul>
  			</div>
			</div>
		</div>
		<br>

{% endblock %}