{% extends "base_index.html" %}

{% block body %}

    <br>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                <h1>Examples for GEIMA Usage</h1>
                <ul>
                    <hr>
                    <div class="col-sm-12">
                        <p>With GEIMA, experimental biologists can easily explore the Gene Expression in GSE datasets,
                            find answers for their questions, and test their hypotheses. </p>
                        <br>
                        <p>In <code>Single Gene analysis</code> and <code>Multiple Genes analysis</code>, users can easily
                            discover one Gene or multiple Genes Expression in
                            different GSE database. </p>
                        <p><strong><i>Single Gene</i> show fasn specifically expressed in different GSE database </strong>:</p>
                    </div>
                    <div class="col-sm-offset-1 col-sm-10 col-sm-offset-1"><img class="img-responsive"
                                                                                src="/static/pic/example/1.png">
                        <hr>
                    </div>
                    <div class="col-sm-offset-1 col-sm-10 col-sm-offset-1"><img class="img-responsive"
                                                                                src="/static/pic/example/2.png">
                        <hr>
                    </div>
                    <div class="col-sm-offset-1 col-sm-10 col-sm-offset-1"><img class="img-responsive"
                                                                                src="/static/pic/example/3.png">
                        <hr>
                    </div>
                    <div class="col-sm-12">
                        <p><strong><i>Multiple Genes</i> show many genes different expressed in different GSE database</strong>:</p>
                    </div>
                    <div class="col-sm-offset-1 col-sm-10 col-sm-offset-1"><img class="img-responsive"
                                                                                src="/static/pic/example/4.png">
                        <hr>
                    </div>
                    <div class="col-sm-offset-1 col-sm-10 col-sm-offset-1"><img class="img-responsive"
                                                                                src="/static/pic/example/5.png">
                        <hr>
                    </div>
                    <div class="col-sm-offset-1 col-sm-10 col-sm-offset-1"><img class="img-responsive"
                                                                                src="/static/pic/example/6.png">
                        <hr>
                    </div>
                    <div class="col-sm-12">
                        <p><strong><i>Gene List</i> only provide download links for multiple genes specifically expressed in different GSE database. Results format were like multiple genes show above.</strong>:</p>
                    </div>
                    <div class="col-sm-12">
                        <h3>Hope you enjoy <span class="text-danger">GEIMA</span>!</h3>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <br>

{% endblock %}
