<div class="col-sm-12">
    <p><strong>draw vol map.</strong></p>
    <div class="col-sm-12 collapse" id="upload_gene_introduction" aria-expanded="false"
         style="height: 0px;">
        <div class="panel-body">
            <ul>
                <p>This feature generates your interest gene expression in different database.</p>
            </ul>
            <p>Parameters</p>
            <ul>
                <li><strong>Gene List</strong>: Input a gene List of interest.</li>
                <li><strong>Datasets Selection/Dataset</strong>: Select one type of interest in the
                    “Dataset Selection”.
                </li>
                <li><strong>Species Selection</strong>: Choose one species you want to search</li>
                <li><strong>Tissue Selection</strong>: Choose one Tissue you focus on.</li>
                <p class="text-info">Search your interested gene List in the datasets.</p>
            </ul>
        </div>
    </div>
    <a data-toggle="collapse" data-target="#upload_gene_introduction" href="###" class="collapsed"
       aria-expanded="false">
        <p class="text-center">--- Help ---</p>
    </a>
    <div class="row">
        <p></p>
    </div>
</div>